body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.dataDisplayContainer {
  display: flex;
  max-height: 80vh;
  overflow: hidden;
}

.event-container {
  min-width: 30%;
  max-height: 100%;
  overflow: auto;
  padding: 2rem;
}

.user-event-list {
  padding: 0 3rem;
}

.search-inputs {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.fields {
  padding: 1rem;
  margin: 0;
}

/* .search-form {
  margin: 0;
} */

